html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}


div.background{
    
    background: #DAD299;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-clip: padding-box;
}
div{
    background-color: lightyellow;
    border-radius: 10px;
    margin: 3px;
    height: 140px;
    width: 140px;
    float: left;
    text-align: center;
    margin: 0 auto;
}

div.second{
    background-color: lightblue;
    border-radius: 10px;
    margin: 3px;
    height: 140px;
    width: 140px;
    float: left;
    text-align: center;
}

div#last{
    background-color: lightyellow;
    border-radius: 10px;
    margin: 3px;
    height: 140px;
    width: 140px;
    float: left;
    text-align: center;
}

